:root {
  --primary-color: rgba(108, 132, 208, 1);
  --secondary-color: rgba(88, 108, 170, 1);
  --new-color: rgb(61, 86, 165);
  --dark-color: rgba(34, 34, 34, 1);
  --text-color: white;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
  font-family: var(--font-primary);
}

.cabecalho {
  text-align: center;
  padding: 20px 0;
}

.logo-text {
  font-family: var(--font-primary);
  font-size: 45px;
  font-weight: 500;
  color: var(--text-color);
  animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: var(--text-color);
  }
  100% {
    color: var(--primary-color);
  }
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.text-inicio {
  font-family: var(--font-secondary);
  font-size: 49px;
  font-weight: 500;
  color: var(--text-color);
}

.sub {
  font-size: 18px;
  color: var(--text-color);
  margin-top: 10px;
}
.text-proj {
  display: flex;
  justify-content: center;
}

.sobre-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centraliza verticalmente */
}

.sobre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro com transparência */
  backdrop-filter: blur(10px);
  border-radius: 30px;
}
.textos {
  position: relative; /* Define o contêiner como referência */
  max-width: 50%;
  text-align: left; /* Centraliza o texto dentro do .textos */
}

.sobre-titulo {
  font-family: var(--font-primary);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 300;
}

.sobre .titulo {
  font-family: var(--font-secondary);
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
}

.sobre .sub {
  font-family: var(--font-primary);
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.6;
  margin-top: 10px;
}

.fin {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrossel {
  position: relative;
  width: 320px;
  height: 300px;
}

.carrossel .imagens {
  top: 0;
  margin-top: 10%;
  width: 200px;
  height: auto;
}

.carrossel .imagens img {
  position: absolute;
  width: 200px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carrossel .imagens img.active {
  opacity: 1;
}

.inicio .sub {
  font-family: var(--font-primary);
  font-size: 15px;
  color: var(--text-color);
  width: 50%;
  font-weight: 300;
  text-align: left;
  line-height: 1.5; /* Melhora o espaçamento entre linhas */
}
.img-logo {
  margin-left: 10%;
}
/*Texto degrade*/
.highlight {
  font-weight: 700;
  background-image: linear-gradient(
    -225deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: textclip 2s linear infinite;
  text-align: left;
}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(40, 60, 100, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

.projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  transition: grid-template-columns 0.3s ease;
}

.card {
  background: rgba(255, 255, 255, 0.1); /* Efeito glassmorphism */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
  border-radius: 10px;
  padding: 20px;
  width: 240px;
  height: 300px; /* Ajustado para melhor acomodar as imagens */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras sutis */
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px); /* Efeito de elevação */
}

.switch {
  position: relative;
  display: flex;
  justify-content: center;
  height: 0;
  padding-bottom: 56.25%; /* Proporção 16:9 */
  width: 100%;
}

.switch-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
  border-radius: 8px;
}

.card-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--new-color);
  min-width: 120px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  opacity: 0.95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.avatar {
  width: 36px;
  height: 36px;
  background-color: #4ecca3;
  border-radius: 6px;
}

.info-text {
  color: white;
  font-family: system-ui, sans-serif;
}

.info-text h3 {
  margin: 0;
  font-size: 14px;
}

.info-text p {
  margin: 4px 0 0;
  font-size: 12px;
  opacity: 0.7;
}

.text-proj .titulo {
  font-family: var(--font-secondary);
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .text-proj .titulo {
    font-size: 30px;
  }
}
canvas#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  /* Impede que o canvas bloqueie interações */
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-content {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  width: 400px; /* Menor largura */
  max-height: 80%; /* Limita a altura para caber na tela */
  overflow-y: auto; /* Habilita rolagem vertical */
  text-align: center;
  color: white;
  position: relative;
}

.modal-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modal-video {
  width: 100%;
  margin-bottom: 15px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.modal-content p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}
.btn-github {
  cursor: pointer;
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;

  text-decoration: none; /* Remove qualquer sublinhado residual */
}

.btn-github svg,
.btn-github span {
  display: inline-block; /* Garante que o espaçamento seja uniforme */
  vertical-align: middle; /* Remove desalinhamento com o texto */
}

.btn-github:hover {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(128, 0, 128, 0.08);
  color: #800080;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}
.typedText {
  text-transform: uppercase; /* Converte o texto para letras maiúsculas */
  color: var(--text-color);
  font-family: var(--font-secondary);
}
.social_icons {
  position: absolute;
  bottom: -60px; /* Ajuste para ficar logo abaixo do subtítulo */
  left: 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none; /* Remove o sublinhado do link */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.icon:hover {
  transform: scale(1.1);
  background-color: var(--new-color);
}

/* Estilo dos ícones */
.icon i {
  font-size: 18px;
  pointer-events: none; /* Permite clicar no link, não no ícone */
}

/* Responsividade */
@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
